<p><%= link_to "Bow 1", bow_path %></p>

<%= link_to "back to bows", bows_path %>

<!-- need to review - do we want this to be an admin feature? -->
<%#= link_to "edit bows", edit_bow_path if current_user == @bow.user %>


<%# if current_user == @bow.user %>
<%#=  link_to "Delete", bow_path(@bow),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  <%# end %>

<div class="purchase">
  <%= form_tag orders_path do %>
  <%= hidden_field_tag 'bow_id', @bow.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
</div>
